{% extends "base.html" %}
{% block content %}


<p>
    <a href="{{base_path}}/kayttaja/muokkaa/{{kayttaja.id}}" class="btn btn-default">Muokkaa</a>
</p>
<h1>{{kayttaja.kayttajatunnus}}</h1>
<ul>
    <li><strong>Etunimi: </strong>{{kayttaja.etunimi}}</li>
    <li><strong>Sukunimi: </strong>{{kayttaja.sukunimi}}</li>
    <li><strong>Syntymäpäivä: </strong>{{kayttaja.syntymapaiva}}</li>
    <li><strong>Osoite: </strong>{{kayttaja.osoite}}</li>
</ul>
<h2>Myynnit: </h2>
<table class="table-striped table-bordered">
    <thead>
    <tr>
        <th>Tuote</th>
        <th>Asetettu myyntiin</th>
        <th>Hinta</th>
    </tr>
    </thead>
    <tbody>
    {% for ilmoitus in myynnit %}
    <tr>
        <td><a href="{{base_path}}/ilmoitus/{{ilmoitus.id}}">{{ilmoitus.nimi}}</a></td>
        <td>{{ilmoitus.alkamispaiva}}</td>
        <td>{{ilmoitus.hintanyt}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<h2>Huudot: </h2>
<table class="table-striped table-bordered">
    <thead>
    <tr>
        <th>Tuote</th>
        <th>Huutopäivä</th>
        <th>Hinta</th>
    </tr>
    </thead>
    <tbody>
    {% for huuto in huudot %}
    <tr>
        <td><a href="{{base_path}}/ilmoitus/{{huuto.ilmoitus_id}}">{{huuto.nimi}}</a></td>
        <td>{{huuto.paiva}}</td>
        <td>{{huuto.hinta}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}