{% extends "base.html" %}
{% block content %}
<h1 xmlns:text-align="http://www.w3.org/1999/xhtml"></h1>

<p>
    <a href="#" class="btn btn-success">Myy tuote</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Myyjä</th>
        <th>Kaupan alkamispäivä</th>
        <th>Kaupan päättymisaika</th>
        <th>Tila</th>
        <th>Hinta nyt</th>
        <th>Huutojen määrä</th>
        <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    {% for ilmoitus in ilmoitukset %}
    <tr>
        <td><a href="{{base_path}}/ilmoitus/{{ilmoitus.id}}">{{ilmoitus.nimi}}</a></td>
        <td>{{ilmoitus.kayttajatunnus}}</td>
        <td>{{ilmoitus.alkamispaiva}}</td>
        <td>{{ilmoitus.paattymispaiva}}</td>
        <td><label class="label label-success">W.I.P</label></td>
        <td>{{ilmoitus.hintanyt}}</td>
        <td>W.I.P</td>
        <td>
            <button class="btn btn-danger">Poista</button>
        </td>
        <td>
            <a href="{{base_path}}/ilmoitus/muokkaa/{{ilmoitus.id}}">
                <button class="btn btn-default">Muokkaa</button>
            </a>
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}