{% extends "base.html" %}
{% block content %}
<h1>{{ilmoitus.nimi}}</h1>
<p>
    <!-- todo 'Poista' painike-->
    <button class="btn btn-danger">Poista</button>
    <a href="{{base_path}}/ilmoitus/muokkaa/{{ilmoitus.id}}" class="btn btn-default">Muokkaa</a>
</p>
<!-- todo kaupan tila -->
<ul>
    <li><strong>Myyjä: </strong>{{ilmoitus.kayttajatunnus}}</li>
    <li><strong>Kaupan alkamispäivä: </strong>{{ilmoitus.alkamispaiva}}</li>
    <li><strong>Kaupan päättymisaika: </strong>{{ilmoitus.paattymispaiva}}</li>
    <li><strong>Tila: </strong><label class="label label-success">W.I.P</label></li>
    <li><strong>Hinta nyt: </strong>{{ilmoitus.hintanyt}}</li>
    <li><strong>Huutojen määrä: </strong>W.I.P</li>
</ul>
<p>
    {{ilmoitus.kuvaus}}
</p>


<h2>Huudot: </h2>
<table class="table-striped table-bordered">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Huutopäivä</th>
        <th>Hinta</th>
    </tr>
    </thead>
    <tbody>
    {% for huuto in huudot %}
    <tr>
        <td><a href="{{base_path}}/kayttaja/{{huuto.kayttaja_id}}">{{huuto.kayttajatunnus}}</a></td>
        <td>{{huuto.paiva}}</td>
        <td>{{huuto.hinta}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br/>
<button class="btn-success" onClick="huutoKentta()">Huuda Tuotetta</button>
<script language="javascript">
    function huutoKentta() {
        var x = document.getElementById('huutoKentta');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
</script>

<div id="huutoKentta" style="display: none">
    <h2>Huuda tuotetta</h2>
    <form method="post" action="{{base_path}}/new/huuto/{{ilmoitus.id}}">
        <div class="form-group"><label>Käyttäjänimi: /Käyttäjän nimi tähän/</label></div>
        <div class="form-group"><label>Hinta (€):</label>
            <input type="number" name="hinta" step="0.01" value="0.00" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="form-control">Huuda!</button>
        </div>
    </form>
</div>
{% endblock %}