{% extends "base.html" %}
{% block content %}
<h1></h1>

<p>
    <a href="{{base_path}}/new/ilmoitus" class="btn btn-success">Myy tuote</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Myyjä</th>
        <th>Kaupan alkamispäivä</th>
        <th>Kaupan päättymisaika</th>
        <th>Tila</th>
        <th>Hinta nyt (€)</th>
        <th>Huutojen määrä</th>
    </tr>
    </thead>

    <!-- todo Huutojen tilan tarkistus-->
    <tbody>
    {% for ilmoitus in ilmoitukset %}
    <tr>
        <td><a href="{{base_path}}/ilmoitus/{{ilmoitus.id}}">{{ilmoitus.nimi}}</a></td>
        <td><a href="{{base_path}}/kayttaja/{{ilmoitus.kayttaja_id}}">{{ilmoitus.kayttajatunnus}}</a></td>
        <td>{{ilmoitus.alkamispaiva}}</td>
        <td>{{ilmoitus.paattymispaiva}}</td>
        <td><label class="label label-success">W.I.P</label></td>
        <td>{{ilmoitus.hintanyt}} €</td>
        <td>{{ilmoitus.huutomaara}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}