{% extends "base.html" %}
{% block content %}
<h1>Myy Tuote</h1>

<form method="post" action="{{base_path}}/new/ilmoitus">

    <div class="form-group">
        <label>Tuotteen nimi</label>
        <input type="text" name="nimi" class="form-control">
    </div>

    <div class="form-group">
        <label>Lähtöhinta</label>
        <input type="number" step="0.01" name="lahtohinta" class="form-control">
    </div>

    <div class="form-group">
        <label>Päättymispäivä</label>
        <input type="date" name="paattymispaiva" class="form-control">
    </div>
    <div>
        <label>Kuvaus</label>
        <textarea class="form-group" name="kuvaus"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Myy tuote</button>
</form>
{% endblock %}