{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Tervetuloa Auctionatoriin</h1>
    <p>Auctionator on huutokauppa ympäristö jossa voit ostaa ja myydä haluamiasi tuotteita. Nimensä mukaisesti
        auctionatorissa kaupat käydään huutokauppa perjaatteella eli
        korkeimman huudon tehnyt saa tuotteen omakseen. Myyjänä voit myös asettaa tuotteelle lähtöhinnan, jonka alle et
        tuotetta halua myydä. Selataksesi tuotteita sinun <b>EI</b>
        tarvitse rekisteröityä käyttäjäksi. Voit selailla tuotteita vapaasti ja löydettyäsi kohteen rekisteröityä
        huutaaksesi.</p>
</div>
<p>
    <a href="listaus" class="btn btn-primary btn-lg">Tuotelistaukseen<span
            class="glyphicon glyphicon-chevron-right"></span></a>
    <a href="register" class="btn btn-primary btn-lg">Rekisteröitymään<span
            class="glyphicon glyphicon-chevron-right"></span></a>
</p>
{% endblock %}
