{% extends "base.html" %}
{% block content %}
<h1 xmlns:text-align="http://www.w3.org/1999/xhtml"></h1>

<p>
    <a href="#" class="btn btn-success">Myy tuote</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Käyttäjätunnus</th>
        <th colspan="2"></th>
    </tr>
    </thead>

    <!-- todo Listaus tietokannasta-->
    <tbody>
    <tr>
        <td><a href="#">Matti Maksaja</a></td>
        <td>
            <button class="btn btn-danger">Poista</button>
        </td>
        <td>
            <button class="btn btn-default">Muokkaa</button>
        </td>
    </tr>
    <tr>
        <td><a href="#">Peikko Petterinen</a></td>
        <td>
            <button class="btn btn-danger">Poista</button>
        </td>
        <td>
            <button class="btn btn-default">Muokkaa</button>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}